<h1>Calculadora </h1>

<div class="container">

<div class="input-container">

<label for="input-1">Input 1:</label>

<input type="number" [(ngModel)]="num1">

</div>

<div class="input-container">

<label for="input-2">Input 2:</label>

<input type="number" [(ngModel)]="num2">

</div>

<div class="button-container">

<button (click)="mostrarsuma()">Botón 1</button>

<button (click)="mostrarresta()">Botón 2</button>

<button (click)="mostrarmultiplicacion()">Botón 3</button>

<button (click)="mostrardivision()">Botón 4</button>

</div>

</div>




